<%- include('header.ejs') -%>

<div class="box" id="heading">
	<h1>The current day is <%= currentDay %></h1>
</div>

<div class="box">
	<form action="/delete" method="post">
		<%for (let i = 0; i < toDoActivity.length; i++) {%>
		<div class="item">
			<input
				type="checkbox"
				name="<%= toDoActivity[i].name %>"
				onchange="this.form.submit()"
			/>
			<p><%= toDoActivity[i].name %></p>
		</div>
		<%}%>
	</form>

	<form action="/" method="post" class="item">
		<input type="text" name="todo" placeholder="New Item" autocomplete="off" />
		<button type="submit" name="button" value="<%= toDoType %>">+</button>
	</form>
</div>

<%- include('footer.ejs') -%>
